include:
  # https://computing.docs.ligo.org/gitlab-ci-templates/
  - project: computing/gitlab-ci-templates
    file:
      # https://computing.docs.ligo.org/gitlab-ci-templates/conda/
      - conda.yml
      # https://computing.docs.ligo.org/gitlab-ci-templates/python/
      - python.yml


stages:
  - build
  - docs
  - test
  - deploy

# -- EOB code itself
python:build:
  extends: .python:build
  stage: build
  needs: []
  variables:
    SRCDIR: "./"

# linting step
linting:
  stage: build
  extends: .python:base
  before_script:
    - |
      pip install -U wheel pip setuptools
      pip install tox
      tox -l
  script:
    - |
      tox -e lint


.conda_prepare_before_script: &conda_prepare_before_script
    # configure conda
    # before_scripts uses mamba which does not work anymore, we copy the relevant commands
    # here.
    # - !reference [".conda:base", before_script]
    - if [ -z "${CONDA_ROOT}" ]; then
        if command -v conda &> /dev/null; then
          CONDA_ROOT=$(conda info --base);
        else
          CONDA_ROOT="/opt/conda";
        fi;
      fi
    - . ${CONDA_ROOT}/etc/profile.d/conda.sh
    - conda config --file ${CONDARC} --set always_yes yes
    - if [ "${CONDA_FORGE}" = "true" ]; then conda config --file ${CONDARC} --add channels conda-forge; fi
    - conda info --all
    - conda config --show-sources

# -- documentation
docs:
  extends:
    - .conda:base
    - .python:sphinx
  image: igwn/base:conda
  stage: docs
  needs: []
  variables:
    # install this project and its docs extra
    REQUIREMENTS: ""  # ".[docs]"
    # location of the conf.py
    SOURCEDIR: "docs"
  before_script:
    # use pip2conda to parse the requirements and then populate the run
    # environment, mainly so that we get a pre-built version of gwsurrogate
    - *conda_prepare_before_script
    - conda create -n docs
          python=3.9
          gcc
          gxx
          swig
          gsl
          fftw
          make
          pandoc
          pygsl_lite
    - conda activate docs
    # already in the REQUIREMENTS
    - pip install ".[docs]"
    - python setup.py build_ext --inplace # Ugly hack to make cython modules available
    # use the python from the docs environment for the sphinx build
    - PYTHON="$(which python)"
    # configure sphinx
    - !reference [".python:sphinx", before_script]

# -- documentation deployment
pages:
  stage: deploy
  needs: ["docs"]
  script:
    - mv -v html public
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - main

# -- unit tests under conda
test:
  stage: test
  extends:
    - .conda:base
  image: igwn/base:conda
  variables:
    SRCDIR: "./"
  before_script:
    # configure conda
    # see comments in conda_prepare_before_script
    # - !reference [".conda:base", before_script]
    - *conda_prepare_before_script
    - conda create -n tests
          python=3.9
          gcc
          gxx
          swig
          gsl
          fftw
          make
          pytest
          lalsuite
          scipy
          pycbc
          pygsl_lite
          pandas pyarrow

  script:
    - conda activate tests
    - pip install ".[tests]"
    - mkdir .temp-tests
    - export CI_TEST_DYNAMIC_REGRESSIONS=1
    - pytest --junitxml=.temp-tests/junit.xml -vvv

  artifacts:
    paths:
      - .temp-tests/**/junit.xml
    reports:
      junit: .temp-tests/**/junit.xml
